<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>A</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>B</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>B</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>C</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>C</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>A</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A-iPad</string>
					<string>A-iPadPro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>B</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>B-iPad</string>
					<string>B-iPadPro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>C</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>C-iPad</string>
					<string>C-iPadPro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
